body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-container{
    border: 2px solid rgb(0, 68, 77);
    border-radius: 20px;
    width: 500px;
    height: 700px;
    background-color: aliceblue;
    padding:20px; 
    font-family: "Montserrat", sans-serif;
}
.header{
    text-align: center;
    margin: 40px 20px 0px 20px;
    border-bottom: 2px solid rgb(149, 150, 154);
   
}
.header h1{
    margin-bottom:5px;
}
.header p{
    margin-top:0px;
}
div{
    margin-left: 30px;
}
.contack, .EDUCATION, .EXPERIENCE{
    border-bottom:2px solid rgb(149, 150, 154) ;
    margin-left: 20px;
    margin-right: 20px;
}
h3{
    font-size:20px;
}
p{
    font-size: 15px;
}