body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-container{
    border: 2px solid black;
    border-radius: 20px;
    width: 500px;
    background-color: aliceblue;
}
.header{
    text-align: center;
   
}
