body {
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container {
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
h6{
    font-size: 15px;
    margin: 0px;
    padding-bottom: 5px;
    padding-left: 20px;
    text-align: start;
}

input,
select {
    width: 90%;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;

}

p {
    font-size: 20px;
}